.FriendsListWrapper {
  margin-bottom: 40px;
  border-radius: 6px;
}

.statusRed::before {
  content: ' ';
  position: absolute;
  top: -5px;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.statusBlue::before {
  content: ' ';
  position: absolute;
  top: -5px;
  background-color: green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
